.sidebar {
  width: 250px;
  background: #0f172a;
  color: #fff;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  transition: width 0.3s ease;
}

.sidebar-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 18px;   /* ✅ adds space around Vittora */
}

.sidebar.collapsed .nav-item,
.sidebar.collapsed .premium-item {
  justify-content: center;   /* ✅ center everything */
  padding: 10px 0;           /* remove left/right padding */
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar.collapsed .nav-icon {
  margin: 0;
}

.sidebar.collapsed .nav-text {
  display: none;
}

.sidebar.collapsed .nav-item.active,
.sidebar.collapsed .premium-item.active {
  width: 48px;
  height: 48px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item,
.premium-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 18px;
  margin: 6px 10px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-text {
  flex: 1;
  white-space: nowrap;
  color: #cbd5e1;
  font-size: 14px;
}

.nav-item:hover,
.premium-item:hover {
  background: rgba(59, 130, 246, 0.15);
}

.nav-item.active,
.premium-item.active {
  background: linear-gradient(90deg, #3b82f6, #2563eb);
  color: white;
}

.nav-icon {
  min-width: 24px;
  display: flex;
  justify-content: center;
}

.module-box {
  margin-top: 20px;
  background: #1e293b;
  border-radius: 12px;
  padding: 10px 0;
}

.module-title {
  padding: 0 16px;
  font-size: 14px;
   color: #cbd5e1 !important;
  margin-bottom: 6px;
}

.submenu {
  display: none;
}

.submenu.open {
  display: block;
}

.arrow {
  margin-left: auto;
  font-size: 10px;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(90deg);
}